@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --a:0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

container{
    max-width: 100vh;
}
.close {
    display: none;
}


body {
    background-color: black;
    color: white;
}


.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home {}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.library {
    min-height: 80vh;
    position: relative;

}

.footer {
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 5px;
    position: absolute;
    bottom: 20px;
}

.footer a {
    color: gray;
    padding: 10px;
}

.right {
    margin: 16px 0;
    position: relative;

}

.heading {
    display: flex;
    gap: 15px;
    width: 344px;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}


.heading img {
    width: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 31, 31);
}

.header>* {
    padding: 20px;

}

.spotifyPlaylist {
    padding: 16px;
}

.spotifyPlaylist h1 {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-y: auto;
}



.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(31, 31, 31);
    position: relative;
    transition: all 0.5s;
}

.card:hover{
    background-color: rgb(45, 45, 45);
    cursor: pointer;
    --a:1;
}

card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}


.play {
    width: 28px;
    height: 28px;
    background-color: #1ed760;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 160px;
    right: 20px;
    opacity: var(--a);
    transition: all 0.1s ease-out;

}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(31, 31, 31);
    color: rgb(159, 154, 154);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;

}

.loginbtn {
    background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
    padding: 10px 14px;
}





.songList ul {
    padding: 0 12px;


}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    gap: 34px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;
}

.songList {
    height: 344px;
    overflow: auto;
    margin-bottom: 40px;
    height: 60vh;
}

.hamburger {
    display: none;
}

.hamburgerCont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songList info {
    font-size: 13px;
    width: 344px;
}

.info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 10px;
    width: 64px;

}

.playbar {
    position: fixed;
    bottom: 15px;
    background-color: rgb(60, 61, 60);
    height: 45px;
    width: 94%;
    padding: 12px;
    width: 70vw;
    border-radius: 30px;
}


.songbuttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}



.seekbar {
    height: 2px;
    width: 98%;
    border: 2px solid rgb(95, 95, 95);
    border-radius: 10px;
    position: absolute;
    bottom: 6PX;
    cursor: pointer;
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: rgb(50, 50, 50);
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}



.controlinfo {
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 0;
    ;
}

.songbuttons {
    cursor: pointer;
    position: absolute;
    bottom: 35px;
}

.songinfo {
    position: absolute;
    left: 0;
    width: 30vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 12px;
    top: 10px;
}

.timevol {
    position: absolute;
    right: 0;
    padding: 0 12px;
    width: 150px;
    gap: 10px;
}

.songtime {
    position: relative;
    left: 45px;
}

.volume {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

input[type="range"] {
    width: 100px;
    height: 6px;
    cursor: pointer;
}

.songbuttons {
    position: fixed;
}



@media (max-width: 1200px) {
    .left {
        background-color: black;
        position: absolute;
        left: -200%;
        transition: all 0.5s;
        z-index: 1;
        width: 373px;
        padding: 0;
    }

    .left .close {
        position: absolute;
        right: 35px;
        top: 30px;

    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 60px);
    }

    .seekbar {
        width: calc(100vw - 70px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 40vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .songinfo {
        width: 25vw;
    }

    .timevol {
        position: absolute;
        right: 0;
        top: 10px;
        width: 30vw;
    }


    .close {
        display: block;
    }

    .volume {
        display: none;
    }
}

@media (max-width: 1200px){
    .card {
        width: 20vw;
    }
}


@media (max-width: 800px){
    .card {
        width: 40vw;
    }
}